.content {
    min-width: 80vh;
    min-height: 83.9vh;
}

.headerImg {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
    height: 100px;
    opacity: 0.8;
}

.cars {
    display: flex;
    width: 100%-200px;
    flex-wrap: wrap;
    gap: 100px;
    min-height: 1000px;
    padding-top: 70px;
    text-align: center;
    padding-bottom: 60px;
    padding-left: 200px;
    background: linear-gradient(0deg, rgba(246,96,96,1) 0%, rgba(228,231,230,1) 100%, rgba(228,231,230,1) 100%);
}

.noCars {
    font-size: 50px;
    width: 86%;
    text-align: center;
}

