.main {
    height: 2860px;
    text-align: center;

}

.title {
    margin-top: 40px;
    font-size: 40px;
}

.h2 {
    margin-top: 100px;
    font-size: 34px;
}

.latest {
    display: flex;
    width: 59%;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 100px;
    min-height: 600px;
    height: 1000px;
}

.noCars {
    font-size: 50px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1536px) {
    .latest {
        width: 73%;
    }
}
