header {
    background-color: lightblue;
    width: 100vw;
    height: 8vh;
    position: relative;
    padding: 10px;
}

.logoImg {
    width: 75px;
    object-fit: cover;
    border-radius: 100%;
}


.titleContainer {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 270px;
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

.title {
    display: inline-block;
    margin: 0px;
    font-size: 32px;

}


.navigation {
    position: absolute;
    right: 40px;
    top: 0px;
    margin: 0px;
    padding-top: 18px;
    padding-right: 900px;
    width: 100px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 70px;
    font-size: 20px;
}

ul .link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul .link:hover {
    color: red;
}

.email {
    position: absolute;
    right: 50px;
    top: 40px;
    font-size: 14px;
}