.wrapper {
    background-image: url(../../../public/images/loginBackground.jpg);
    width: 100vw;
    height: 100vh;
}


form.registerForm {
    border: 1px solid black;
    font-weight: bold;
    height: 70%;
    width: 24%;
    position: relative;
    text-align: center;
    background-color: #e0dcdc;
}


.registerForm i {
    position: absolute;
    left: 20px;
    top: 12px;
    color: black;
    font-size: 20px;
} 

.registerForm i:hover {
    color: white;
}

.title {
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



label {
    margin-right: 310px;
    display: block;
}

.emailLabel {
    margin-right: 336px;
}


.confirm {
    margin-right: 260px;
}

.register {
    font-size: 16px;
    display: block;
    margin: 20px auto 40px auto;
    width: 80%;
    height: 8%;
    cursor: pointer;
}

.redirect {
    text-decoration: none; 
    color: lightslategrey;
}

.borderRed {
    border: 1px solid red;
}


.emailError {
    position: absolute;
    color: red;
    margin: 0;
    top: 190px;
    left: 45px;
}

.pasError {
    position: absolute;
    color: red;
    margin: 0;
    top: 304px;
    left: 45px;
}

.conPasError {
    position: absolute;
    color: red;
    margin: 0;
    top: 420px;
    left: 45px;
}

.match {
    color: red;
}
