.wrapper {
    background-image: url(../../../public/images/loginBackground.jpg);
    width: 100vw;
    height: 100vh;
}


.form {
    border: 1px solid black;
    font-weight: bold;
    height: 96%;
    width: 26%;
    position: relative;
    text-align: center;
    background-color: #e0dcdc;
    min-width: 240px;
}


.title {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form i {
    position: absolute;
    left: 20px;
    top: 12px;
    color: black;
    font-size: 20px;
} 

.form i:hover {
    color: white;
}


.input {
    margin: 10px 0px 20px 0px;
    height: 4%;
    width: 80%;
}

.textarea {
    max-width: 80%;
    margin: 10px 0px 10px 0px;
    resize: none;
    padding: 10px;
}

.labelDescription {
    margin-right: 330px;
    font-size: 18px;

}

.labelBrand {
    margin-right: 368px;
    font-size: 18px;
}

.labelModel {
    font-size: 18px;
    margin-right: 366px;
}

.labelPrize {
    font-size: 18px;
    margin-right: 370px;
}

.labelImage {
    font-size: 18px;
    margin-right: 350px;
}

.create {
    font-size: 16px;
    display: block;
    margin: 30px auto 40px auto;
    width: 80%;
    height: 6%;
    cursor: pointer;
}

.redirect {
    text-decoration: none; 
    color: lightslategrey;
}

.brandError {
    color: red;
    position: absolute;
    top: 160px;
    left: 46px;
    font-size: 15px;
}

.modelError {
    color: red;
    position: absolute;
    top: 269px;
    left: 46px;
    font-size: 15px;
}

.prizeError {
    color: red;
    position: absolute;
    top: 378px;
    left: 46px;
    font-size: 15px;
}

.imageError {
    color: red;
    position: absolute;
    top: 486px;
    left: 46px;
    font-size: 15px;
}

.descriptionError {
    color: red;
    position: absolute;
    top: 652px;
    left: 46px;
    font-size: 15px;
}



@media screen and (max-width: 1640px) {
    .labelDescription {
        margin-left: 30px;
    
    }
    
    .labelBrand {
        margin-left: 30px;

    }
    
    .labelModel {
        margin-left: 30px;
    }
    
    .labelPrize {
        margin-left: 30px;
    }
    
    .labelImage {
        margin-left: 30px;
    }
}

@media screen and (max-width: 1536px) {
    .title {
        font-size: 26px;
    }   

    .labelDescription {
        font-size: 16px;
        margin-left: 34 px;
    }
    
    .labelBrand {
        font-size: 16px;
        margin-left: 36px;

    }
    
    .labelModel {
        font-size: 16px;
        margin-left: 36px;
    }
    
    .labelPrize {
        margin-left: 36px;
        font-size: 16px;
    }
    
    .labelImage {
        margin-left: 36px;
        font-size: 16px;
    }

    .textarea {
        max-width: 77%;
        margin: 10px 0px 10px 0px;
        resize: none;
        padding: 10px;
        height: 100px;
    }

    .brandError {
        color: red;
        position: absolute;
        top: 134px;
        left: 36px;
        font-size: 14px;
    }
    
    .modelError {
        color: red;
        position: absolute;
        top: 218px;
        left: 36px;
        font-size: 14px;
    }
    
    .prizeError {
        color: red;
        position: absolute;
        top: 300px;
        left: 36px;
        font-size: 14px;
    }
    
    .imageError {
        color: red;
        position: absolute;
        top: 386px;
        left: 36px;
        font-size: 14px;
    }
    
    .descriptionError {
        color: red;
        position: absolute;
        top: 558px;
        left: 36px;
        font-size: 14px;
    }
}