.wrapper {
    background-image: url(../../../public/images/loginBackground.jpg);
    width: 100vw;
    height: 100vh;
}



form.loginForm {
    border: 1px solid black;
    font-weight: bold;
    height: 55%;
    width: 24%;
    position: relative;
    text-align: center;
    background-color: #e0dcdc;
}



 .loginForm i {
    position: absolute;
    left: 20px;
    top: 12px;
    color: black;
    font-size: 20px;
} 

.loginForm i:hover {
    color: white;
}

.title {
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    width: 80%;
    height: 6%;
    margin: 10px 0px 40px 0px;
}

.emailLabel {
    margin-right: 336px;
}



.login {
    font-size: 16px;
    display: block;
    margin: 30px auto 60px auto;
    width: 80%;
    height: 8%;
    cursor: pointer;
}

.redirect {
    text-decoration: none; 
    color: lightslategrey;
}

.error {
    color: red;
    margin: 0;
}


